{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

     <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogos' %}">Ver Todo</a>
        </li>
    </ul>

{% endblock %}
