{% extends 'base.html' %}
{% block title %}Departamentos{% endblock %}
{% block content %}

     <h1>Listar Todo</h1>

    <h2>Países: <a href="{% url 'crear_pais' %}">Crear País</a>
</h2>
    <ul>
        {% for pais in paises %}
            <li>{{ pais.nombre }}
                <a href="{% url 'eliminar_pais' pais_id=pais.id %}">Eliminar</a> <a href="{% url 'editar_pais' pais_id=pais.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Departamentos: <a href="{% url 'crear_departamento' %}">Crear Departamento</a>
</h2>
    <ul>
        {% for departamento in departamentos %}
            <li>
                {{ departamento.nombre }} ({{ departamento.pais }})
                <a href="{% url 'eliminar_departamento' departamento_id=departamento.id %}">Eliminar</a> <a href="{% url 'editar_departamento' departamento_id=departamento.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>


    <h2>Municipios: <a href="{% url 'crear_municipio' %}">Crear Municipio</a>
</h2>
    <ul>
        {% for municipio in municipios %}
            <li>
                {{ municipio.nombre }}, {{ municipio.departamento }}
                <a href="{% url 'eliminar_municipio' municipio_id=municipio.id %}">Eliminar</a> <a href="{% url 'editar_municipio' municipio_id=municipio.id %}">Editar</a>

            </li>
        {% endfor %}
    </ul>


{% endblock %}
