{% extends 'base.html' %}
{% block title %}Crear Pais{% endblock %}
{% block content %}

    <h1>Crear Nuevo</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Guardar</button>
    <a href="{% url 'catalogos' %}">Volver atrás</a>

{% endblock %}
