{% extends 'base.html' %}
{% block title %}Eliminar {% endblock %}
{% block content %}
  <h1>Eliminar</h1>
  <p>¿Estás seguro de que deseas eliminar: "{{ pais.nombre }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
    <a href="{% url 'catalogos'%}">Cancelar</a>
  </form>
{% endblock %}
