{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Iniciar sesión</button>
    </form>
      <!--  <p>¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate aquí</a></p> -->


{% endblock %}


