<!-- autenticacion/templates/signup.html -->
{% extends 'base.html' %}  <!-- Extiende la plantilla base de tu proyecto si la tienes -->

{% block content %}
  <h2>Registro</h2>
  <form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
    {{ form.as_p }}
   <input type="submit" value="Registrarse">
</form>
  <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
{% endblock %}
